body.joker #container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1000;
  pointer-events: none; }
  body.joker #container p {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 50px; }
    @media (max-width: 767px) and (orientation: portrait), (max-height: 767px) and (orientation: landscape) {
      body.joker #container p {
        font-size: 2rem;
        line-height: 2.5rem; } }

/*# sourceMappingURL=joker.css.map */
