ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:not(#logo):hover, a:not(#logo):focus, a:not(#logo):active, #menu button:hover, #menu button:focus, #menu button:active {
  background-color: white;
}

hr {
  margin: 0 0 100px 0;
  border-bottom: 2px solid black;
}
@media (max-width: 900px), (max-height: 900px) {
  hr {
    margin: 0 0 50px 0;
  }
}

body.content header, body.content #pages-nav {
  display: none;
}
body.content #page-nav {
  position: fixed;
  z-index: 996;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--test);
  width: 100%;
  height: 100px;
  left: 0;
}
body.content #page-nav a {
  font-family: "Dauphine";
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: black;
}
body.content #list {
  margin-top: 0;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 995;
  background-color: var(--test);
}
body.content #list nav {
  position: fixed;
  right: 100px;
}
body.content #list nav #nav-bar {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}
body.content #list nav #nav-bar button {
  font-family: "Quebec Bold";
  font-size: 2rem;
  line-height: 1.5;
  padding: 0 20px 17px 20px;
  background-color: black;
  color: white;
}
body.content #list nav #nav-bar button:hover {
  background-color: white;
  color: black;
}
body.content #list h1 {
  font-weight: normal;
}
body.content #list h1:hover {
  background-color: transparent;
}
body.content #content {
  text-align: center;
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.content #content.margin-top {
  margin-top: 50px;
}
body.content #content h1, body.content #content h2, body.content #content h3, body.content #content h4, body.content #content h5, body.content #content h6 {
  margin: 50px 0 25px 0;
  font-size: 1.5rem;
  line-height: 2rem;
}
body.content #content h3, body.content #content h4, body.content #content h5, body.content #content h6 {
  font-family: "Quebec";
  font-weight: normal;
}
body.content #content h1, body.content #content h2 {
  font-family: "Quebec Bold";
}
body.content #content h1 {
  text-transform: uppercase;
}
body.content #content h2 {
  padding: 0;
  background-color: transparent;
  color: black;
  text-transform: none;
  display: block;
}
body.content #content h3 {
  display: table;
  border-bottom: 2px solid black;
  padding-bottom: 6px;
}
body.content #content h3.min-margin {
  margin-top: 25px;
}
body.content #content img, body.content #content video, body.content #content audio {
  max-width: 50%;
}
body.content #content img {
  cursor: pointer;
}
body.content #content img.portrait {
  max-width: 35%;
}
body.content #content img.portrait.fullscreen {
  width: auto;
  height: 100%;
}
body.content #content figure {
  width: 100%;
  padding: 0;
  margin: 50px 0 0 0;
}
body.content #content figure figcaption p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}
body.content #content .text {
  width: 100%;
  padding: 0;
  text-align: left;
}
body.content #content .text.margin-bottom {
  margin-bottom: 25px;
}
body.content #content .text p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 50px 0 0 0;
}
body.content #content .text p.rm-margin-top {
  margin-top: 0;
}
body.content #content .text p:not(:last-of-type) {
  margin-bottom: 50px;
}
@media (max-width: 900px), (max-height: 900px) {
  body.content #content .text p:not(:last-of-type) {
    margin-bottom: 25px;
  }
}
body.content #content .text figure p {
  text-align: center;
  margin-bottom: 0;
}
body.content #content ul, body.content #content blockquote, body.content #content pre, body.content #content code {
  margin-bottom: 50px;
}
body.content #content ul li {
  display: list-item;
  list-style-type: square;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: 25px;
}
body.content #content blockquote {
  font-style: italic;
  font-size: 1rem;
  margin-right: 0;
}
body.content #content blockquote p {
  margin: 0;
}
body.content #content pre {
  font-family: monospace;
  font-size: 1.25rem;
}
body.content #content code {
  background-color: white;
  font-family: monospace;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
body.content #content sup, body.content #content sub {
  font-size: 0.75rem;
  display: inline-block;
}
body.content #content sup {
  vertical-align: text-top;
}
body.content #content sub {
  vertical-align: text-bottom;
}
@media (max-width: 900px), (max-height: 900px) {
  body.content #page-nav {
    height: 50px;
  }
  body.content #page-nav a {
    font-size: 1rem;
    line-height: 1rem;
  }
  body.content #list {
    position: relative;
    width: 100%;
    padding: 0;
    word-break: break-word;
  }
  body.content #list nav {
    right: 50px;
  }
  body.content #list nav #nav-bar button {
    font-size: 1.25rem;
    line-height: 1;
    padding: 15px 10px 20px 10px;
  }
  body.content #list nav #nav-bar button:first-of-type {
    margin-right: 0px;
  }
  body.content #list h1 {
    margin-top: 100px;
    font-size: 2.5rem;
    line-height: 2.75rem;
    padding: 0;
  }
  body.content #content {
    margin: 0 0 100px 0;
  }
  body.content #content h1, body.content #content h2, body.content #content h3, body.content #content h4, body.content #content h5, body.content #content h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  body.content #content img, body.content #content video, body.content #content audio {
    max-width: 100%;
  }
  body.content #content figure {
    margin-top: 25px;
  }
  body.content #content img.portrait {
    max-width: 50%;
  }
  body.content #content .text p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 25px;
  }
  body.content #content .text li {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  body.content #content .text ul, body.content #content .text blockquote, body.content #content .text pre, body.content #content .text code {
    margin-bottom: 25px;
  }
  body.content #content .text pre, body.content #content .text code {
    font-size: 1rem;
  }
  body.content #content .text code {
    line-height: 1.5rem;
  }
  body.content #content .text sup, body.content #content .text sub {
    font-size: 0.75rem;
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  body.content #content img.portrait {
    max-width: 100%;
  }
}

:root {
  font-family: "Quebec";
  font-size: 1rem;
  color: black;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  background-color: var(--test);
  overflow-x: hidden;
}

main {
  background-color: var(--test);
  padding: 100px;
}

body.animate .newDiv {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: white;
  z-index: 1000;
}

body.animateTop {
  animation: animateTop 0.1s forwards ease;
}
body.animateTop .top:not(.cross), body.animateTop #menu {
  animation: animateTop 0.1s forwards ease;
}
body.animateTop .bottom {
  animation: animateDown 0.1s forwards ease;
}
body.animateTop .newTopDiv {
  top: 0;
  margin-top: -50px;
  animation: animateTopDiv 0.1s forwards ease;
}

body.animateRight {
  animation: animateRight 0.1s forwards ease;
  width: calc(100% - 50px);
}
body.animateRight #pages-nav li.up, body.animateRight #pages-nav li.bottom {
  width: calc(100% - 50px);
}
body.animateRight main {
  animation: animateToLeft 0.1s forwards ease;
}
body.animateRight .right, body.animateRight header, body.animateRight #nav-bar {
  animation: animateRight 0.1s forwards ease;
}
body.animateRight .left {
  animation: animateToLeft 0.1s forwards ease;
}

body.animateBottom {
  animation: animateBottom 0.1s forwards ease;
  height: calc(100% - 50px);
}
body.animateBottom .bottom {
  animation: animateBottom 0.1s forwards ease;
}
body.animateBottom .top, body.animateBottom main, body.animateBottom #menu {
  animation: animateUp 0.1s forwards ease;
}
body.animateBottom #pages-nav li.right, body.animateBottom #pages-nav li.left {
  height: calc(100% - 50px);
}
body.animateBottom .newBottomDiv {
  bottom: 0;
  margin-bottom: -50px;
  animation: animateBottomDiv 0.1s forwards ease;
}

body.animateLeft {
  animation: animateLeft 0.1s forwards ease;
}
body.animateLeft .left {
  animation: animateLeft 0.1s forwards ease;
}
body.animateLeft .right, body.animateLeft #menu {
  animation: animateToRight 0.1s forwards ease;
}

@keyframes animateTop {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 50px;
  }
}
@keyframes animateRight {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 50px;
  }
}
@keyframes animateBottom {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 50px;
  }
}
@keyframes animateLeft {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes animateUp {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -50px;
  }
}
@keyframes animateToRight {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: -50px;
  }
}
@keyframes animateDown {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: -50px;
  }
}
@keyframes animateToLeft {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50px;
  }
}
@keyframes animateTopDiv {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes animateBottomDiv {
  0% {
    margin-bottom: -50px;
  }
  100% {
    margin-bottom: 0;
  }
}
.square {
  width: 150px;
  height: 150px;
  position: fixed;
  z-index: 997;
  padding: 0;
  margin: 0;
}

#square1, #square2 {
  border-top: 15px solid black;
}

#square3, #square4 {
  border-bottom: 15px solid black;
}

#square1, #square3 {
  border-left: 15px solid black;
}

#square2, #square4 {
  border-right: 15px solid black;
}

#square2 {
  pointer-events: none;
}

header {
  width: calc(100% - 200px);
  padding: 100px 100px 0 100px;
  position: fixed;
  z-index: 995;
}
header #cache {
  width: calc(100% - 200px);
  position: fixed;
  z-index: -1;
  background-color: var(--test);
}
header #header-content {
  display: flex;
  justify-content: space-between;
}
header #header-content h1, header #header-content nav #nav-bar button {
  font-family: "Quebec Bold";
  font-size: 2rem;
  line-height: 1.5;
}
header #header-content h1 {
  height: 100%;
  display: inline-block;
  padding: 0 20px 9px 20px;
  border: 4px solid black;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
header #header-content nav #nav-bar {
  display: flex;
  flex-direction: row;
}
header #header-content nav #nav-bar button {
  background-color: black;
  color: white;
  padding: 0 20px 17px 20px;
}
header #header-content nav #nav-bar button:hover {
  background-color: white;
  color: black;
}

h2 {
  font-family: "Quebec";
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
  padding: 10px;
}

mark {
  font-family: "Quebec";
  color: black;
  background-color: yellow;
  padding: 0;
  line-height: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

#list {
  margin: 150px 0 0 1px;
}
#list .page-content {
  width: 75%;
}
#list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 100px;
}
#list li:last-of-type {
  padding-bottom: 0;
}
#list li .item {
  font-family: "VG5000";
  font-size: 3.5rem;
  display: inline-block;
  color: black;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
#list li div.type span {
  font-size: 1rem;
}
#list li p {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
  padding: 0;
}
#list li .small {
  font-size: 1.5rem;
  display: inline-block;
}
#list li .small:not(:last-of-type)::after {
  content: ", ";
}
#list li a.small {
  word-break: break-word;
  overflow-wrap: break-word;
}
#list li #image-container {
  width: 100%;
  margin-top: 25px;
}
#list li #image-container img {
  max-width: 25%;
}
#list li .summary {
  margin-top: 25px;
}
#list li .summary h1, #list li .summary h2, #list li .summary h3, #list li .summary h4, #list li .summary h5, #list li .summary h6 {
  display: none;
}
#list li .summary p {
  font-size: 1.5rem;
  line-height: 2rem;
}
#list li .summary img {
  display: none;
}
#list li a:not(.item), #list .email {
  color: blue;
}

#archives.extra-space {
  padding-bottom: 100px;
}
@media (max-width: 900px), (max-height: 900px) {
  #archives.extra-space {
    padding-bottom: 50px;
  }
}
#archives button {
  display: inline-block;
  padding: 17px 20px;
  border: none;
  background-color: transparent;
  font-family: "Quebec Bold";
  font-size: 2rem;
  line-height: 1.5;
  background-color: black;
  color: white;
}
#archives button:hover, #archives button:active, #archives button:focus {
  background-color: white;
  color: black;
}

#pages-nav li {
  position: fixed;
  z-index: 996;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--test);
}
#pages-nav li:first-of-type, #pages-nav li:last-of-type {
  width: 100%;
  height: 100px;
}
#pages-nav > ul > li:nth-of-type(2), #pages-nav > ul > li:nth-of-type(3) {
  width: 100px;
  height: 100%;
}
#pages-nav > ul > li:nth-of-type(2) a {
  transform: rotate(-90deg);
}
#pages-nav > ul > li:nth-of-type(3) a {
  transform: rotate(90deg);
}
#pages-nav a {
  font-family: "Dauphine";
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: black;
  text-align: center;
}

#menu {
  background-color: black;
  color: white;
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
}
#menu #menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
}
#menu li, #menu button:not(.cross) {
  font-family: "Quebec Bold";
}
#menu li, #menu button:not(.cross) {
  font-size: 1.75rem;
}
#menu #logo {
  display: flex;
  align-items: center;
  width: 13vh;
}
#menu #logo img {
  width: 100%;
  height: 100%;
}
#menu a, #menu button {
  color: white;
  display: block;
}
#menu a:hover, #menu a:focus, #menu a:active, #menu button:hover, #menu button:focus, #menu button:active {
  color: black;
}
#menu ul.lang {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu ul.lang li:first-of-type {
  display: flex;
  align-items: center;
}
#menu ul.lang li:first-of-type::after {
  content: "/";
  margin: 0 1rem;
}
#menu button {
  background-color: transparent;
}

#map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: black;
}
#map ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(100% / 3));
  grid-auto-flow: row;
  justify-content: center;
}
#map div {
  position: relative;
}
#map div div {
  width: 100%;
  height: 100%;
}
#map div::before, #map div::after, #map div div::before, #map div div::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}
#map div::before, #map div div::before {
  margin-bottom: -32px;
}
#map div::after, #map div div::after {
  margin-top: -32px;
}
#map div div::before, #map div div::after {
  left: calc(100% - 32px);
}
#map div::before {
  border-left: 2px solid var(--test);
  border-top: 2px solid var(--test);
}
#map div div::before {
  border-left: none;
  border-right: 2px solid var(--test);
  border-top: 2px solid var(--test);
}
#map div::after {
  border-left: 2px solid var(--test);
  border-bottom: 2px solid var(--test);
}
#map div div::after {
  border-left: none;
  border-right: 2px solid var(--test);
  border-bottom: 2px solid var(--test);
}
#map a, #map button:not(.cross) {
  text-align: center;
  display: block;
  color: white;
  font-family: "Quebec Bold";
  font-size: 2rem;
  width: 100%;
  height: 100%;
  line-height: calc(100vh / 3);
}
#map a:hover, #map button:not(.cross):hover {
  color: black;
  background-color: var(--test);
}
#map a:focus, #map button:not(.cross):focus {
  color: white;
  background-color: black;
}

.cross {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 20px 20px 20px;
  font-size: 30px !important;
  font-weight: 700;
  line-height: 1 !important;
  color: white;
  background-color: transparent;
  z-index: 999;
}
.cross:hover {
  background-color: white;
  color: black;
}

.hide {
  display: none !important;
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 1280px) and (orientation: landscape) {
  #menu {
    width: 25%;
  }
}
@media (max-width: 900px), (max-height: 900px) {
  main {
    padding: 50px;
  }

  .square {
    width: 100px;
    height: 100px;
  }

  #square1, #square2 {
    border-top: 10px solid black;
  }

  #square3, #square4 {
    border-bottom: 10px solid black;
  }

  #square1, #square3 {
    border-left: 10px solid black;
  }

  #square2, #square4 {
    border-right: 10px solid black;
  }

  header {
    width: calc(100% - 100px);
    padding: 50px 50px 0 50px;
  }
  header #header-content h1, header #header-content nav #nav-bar button {
    font-size: 1.25rem;
    line-height: 1;
  }
  header #header-content h1 {
    padding: 11px 10px 16px 10px;
  }
  header #header-content nav #nav-bar button {
    padding: 15px 10px 20px 10px;
  }
  header #header-content nav #nav-bar button:first-of-type {
    margin-right: 0px;
  }

  #pages-nav li:first-of-type, #pages-nav li:last-of-type {
    height: 50px;
  }
  #pages-nav > ul > li:nth-of-type(2), #pages-nav > ul > li:nth-of-type(3) {
    width: 50px;
  }
  #pages-nav a {
    font-size: 1rem;
    line-height: 1rem;
  }

  h2 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 25px;
  }

  #list {
    margin-top: 100px;
  }
  #list .page-content {
    width: 100%;
  }
  #list li {
    padding-bottom: 50px;
  }
  #list li .item {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
  #list li a, #list li p {
    line-height: 2rem;
  }
  #list li a {
    font-size: 2rem;
  }
  #list li p {
    font-size: 1.5rem;
  }
  #list li .small {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #list li .summary p, #list li .summary a {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  #archives button {
    font-size: 1.25rem;
  }
}
@media (max-height: 900px) and (orientation: portrait) {
  #menu div, #menu a, #menu button:not(.cross) {
    font-size: 1.5rem;
  }
}
@media (max-height: 700px) and (orientation: portrait) {
  #menu div, #menu a, #menu button:not(.cross) {
    font-size: 1.25rem;
  }
}
@media (max-height: 600px) and (orientation: portrait) {
  #menu div, #menu a, #menu button:not(.cross) {
    font-size: 1rem;
  }
}
@media (max-height: 900px) and (orientation: landscape) {
  #menu div, #menu a, #menu button:not(.cross) {
    font-size: 1.5rem;
  }
}
@media (max-height: 700px) and (orientation: landscape) {
  #menu div, #menu a, #menu button:not(.cross) {
    font-size: 1.25rem;
  }
}
@media (max-height: 600px) and (orientation: landscape) {
  #menu div, #menu a, #menu button:not(.cross) {
    font-size: 1rem;
  }
}
@media (max-height: 500px) {
  #menu {
    overflow-y: auto;
  }
  #menu #menu-container {
    justify-content: flex-start;
    margin-top: 25px;
  }
  #menu #menu-container > ul:first-of-type {
    margin: 25px 0;
  }
  #menu #menu-container > ul:last-of-type {
    margin-top: 25px;
    padding-bottom: 25px;
  }
  #menu #logo {
    width: 75px;
  }
}
@media (max-width: 767px), (max-height: 767px) {
  #list li .item {
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  #list li #image-container {
    text-align: center;
  }
  #list li #image-container img {
    max-width: 100%;
  }
  #list li #image-container img.portrait {
    max-width: 100%;
  }

  #menu {
    width: 100%;
  }

  #map a:not(.cross) {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  #menu {
    width: 35%;
  }
}
body.home #list > div:first-of-type > p {
  font-size: 2rem;
  line-height: 2.75rem;
}
body.home #list > div:first-of-type, body.home #list ul:not(:last-of-type) {
  padding-bottom: 100px;
}
body.home #list > div:first-of-type p:last-of-type {
  margin: 0;
}
@media (max-width: 900px), (max-height: 900px) {
  body.home #list > div:first-of-type p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  body.home #list > div:first-of-type, body.home #list ul:not(:last-of-type) {
    padding-bottom: 50px;
  }
}
@media (max-width: 767px), (max-height: 767px) {
  body.home #list > div:first-of-type p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

body.resources #list ul:not(:last-of-type), body.resources #list li {
  padding-bottom: 50px;
}
@media (max-width: 900px), (max-height: 900px) {
  body.resources #list li {
    padding-bottom: 25px;
  }
}

body.about #contact {
  margin: 150px 0 100px 0;
}
body.about #contact p, body.about #contact a {
  font-family: "VG5000";
}
body.about #contact p {
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 0;
}
body.about #asso h3, body.about #asso p, body.about #asso li {
  font-size: 1.5rem;
  line-height: 2rem;
}
body.about #asso p {
  margin: 0 0 50px 0;
}
body.about #asso h3 {
  font-weight: bold;
  margin: 0 0 25px 0;
}
body.about #asso p {
  padding: 0;
}
body.about #asso p:first-of-type {
  margin-top: 0;
}
body.about #asso ul {
  margin: 0 0 50px 25px;
}
body.about #asso ul li {
  display: list-item;
  list-style-type: square;
  margin-bottom: 0.25rem;
}
@media (max-width: 900px), (max-height: 900px) {
  body.about #contact {
    margin: 100px 0 50px 0;
  }
  body.about #contact p, body.about #contact a {
    font-size: 2rem;
  }
  body.about #contact p {
    line-height: 1.25;
  }
  body.about #asso h3, body.about #asso p, body.about #asso li {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

body.communities #list .flex {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
body.communities #list .flex li {
  padding: 0;
  margin-top: 0;
}
body.communities #list .flex li:first-of-type {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
body.communities #list .flex li:last-of-type {
  width: 80%;
}
body.communities #list .flex:not(:last-of-type) {
  padding-bottom: 100px;
}
body.communities #list .flex:last-of-type {
  padding-bottom: 50px;
}
body.communities #list .flex .summary {
  margin-top: 25px;
}
body.communities #list .flex .summary p {
  font-size: 1.5rem;
  line-height: 2rem;
}
body.communities #list img {
  max-width: 100%;
}
@media (max-width: 900px), (max-height: 900px) {
  body.communities #list .flex li:first-of-type {
    margin-right: 25px;
    margin-bottom: 25px;
  }
  body.communities #list .flex:not(:last-of-type) {
    padding-bottom: 50px;
  }
  body.communities #list .flex:last-of-type {
    padding-bottom: 25px;
  }
  body.communities #list .flex #summary p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  body.communities #list .flex {
    flex-direction: column;
  }
  body.communities #list .flex li, body.communities #list .flex li:last-of-type, body.communities #list .flex li:first-of-type {
    width: 100%;
  }
  body.communities #list .flex li:first-of-type {
    align-items: flex-start;
  }
  body.communities #list .flex img {
    width: 50%;
  }
}

body.services #list, body.services .section {
  margin-bottom: 100px;
}
@media (max-width: 900px), (max-height: 900px) {
  body.services #list, body.services .section {
    margin-bottom: 50px;
  }
}
body.services .section p, body.services #infos p {
  font-size: 1.5rem;
  line-height: 2rem;
}
body.services .section p:first-of-type, body.services #infos p:first-of-type {
  margin-top: 0;
}
body.services .section ul li, body.services #infos ul li {
  display: list-item;
  list-style-type: square;
  font-size: 1.5rem;
  margin-left: 25px;
}
@media (max-width: 900px), (max-height: 900px) {
  body.services .section p, body.services .section ul li, body.services #infos p, body.services #infos ul li {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
body.services .section p {
  margin-bottom: 0;
}

body.tree #container {
  margin-top: 175px;
}
body.tree #container a {
  font-family: "VG5000";
  font-size: 2rem;
  line-height: 3rem;
  color: blue;
}
@media (max-width: 900px), (max-height: 900px) {
  body.tree #container {
    margin-top: 125px;
  }
}

body.legals #container {
  margin-top: 175px;
}
body.legals #container h2 {
  line-height: 1.75rem;
}
body.legals #container h2:not(:first-of-type) {
  margin: 50px 0 0 0;
}
body.legals #container h2:first-of-type {
  margin-bottom: 0;
}
body.legals #container p {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (max-width: 900px), (max-height: 900px) {
  body.legals #container {
    margin-top: 125px;
  }
  body.legals #container p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@font-face {
  font-family: "Dauphine";
  src: url("../fonts/dauphine.woff2?v=2.020") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "VG5000";
  src: url("../fonts/VG5000.woff2?v=2.020") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quebec";
  src: url("../fonts/quebec.woff2?v=2.020") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quebec Bold";
  src: url("../fonts/quebec_bold.woff2?v=2.020") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Quebec Italic";
  src: url("../fonts/quebec_ital.woff2?v=2.020") format("woff2");
  font-weight: 400;
  font-style: italic;
}
#error {
  margin-top: 100px;
  line-height: 1;
}
#error p {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (max-width: 900px), (max-height: 900px) {
  #error p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

body.accessible-mode, body.accessible-class {
  background-color: black;
}
body.accessible-mode #pages-nav li:not(:first-of-type), body.accessible-mode #pages-nav li:first-of-type a, body.accessible-mode .square, body.accessible-mode #map, body.accessible-mode .map-toggler, body.accessible-mode #list li #image-container, body.accessible-class #pages-nav li:not(:first-of-type), body.accessible-class #pages-nav li:first-of-type a, body.accessible-class .square, body.accessible-class #map, body.accessible-class .map-toggler, body.accessible-class #list li #image-container {
  display: none;
}
body.accessible-mode main, body.accessible-mode header #header-content, body.accessible-mode #pages-nav li:first-of-type, body.accessible-mode #list, body.accessible-mode #page-nav, body.accessible-class main, body.accessible-class header #header-content, body.accessible-class #pages-nav li:first-of-type, body.accessible-class #list, body.accessible-class #page-nav {
  background-color: black;
}
body.accessible-mode #header-content h1, body.accessible-mode.content #list h1, body.accessible-mode p, body.accessible-mode #list li .item, body.accessible-mode #list li div.type span, body.accessible-mode.content #content ul li, body.accessible-mode.about #asso ul li, body.accessible-mode.content #content h1, body.accessible-mode.content #content h2, body.accessible-mode.content #content h3, body.accessible-mode.content #content h4, body.accessible-mode.content #content h5, body.accessible-mode.content #content h6, body.accessible-mode.services .section ul li, body.accessible-class #header-content h1, body.accessible-class.content #list h1, body.accessible-class p, body.accessible-class #list li .item, body.accessible-class #list li div.type span, body.accessible-class.content #content ul li, body.accessible-class.about #asso ul li, body.accessible-class.content #content h1, body.accessible-class.content #content h2, body.accessible-class.content #content h3, body.accessible-class.content #content h4, body.accessible-class.content #content h5, body.accessible-class.content #content h6, body.accessible-class.services .section ul li {
  color: white;
}
body.accessible-mode p, body.accessible-class p {
  line-height: 2.5rem;
}
body.accessible-mode #menu, body.accessible-class #menu {
  background-color: blue;
}
body.accessible-mode #header-content nav #nav-bar button, body.accessible-mode.content #list nav #nav-bar button, body.accessible-mode a:not(#logo), body.accessible-mode #menu button, body.accessible-mode #archives button, body.accessible-class #header-content nav #nav-bar button, body.accessible-class.content #list nav #nav-bar button, body.accessible-class a:not(#logo), body.accessible-class #menu button, body.accessible-class #archives button {
  background-color: blue;
  color: white;
}
body.accessible-mode #header-content nav #nav-bar button:hover, body.accessible-mode #header-content nav #nav-bar button:focus, body.accessible-mode #header-content nav #nav-bar button:active, body.accessible-mode.content #list nav #nav-bar button:hover, body.accessible-mode.content #list nav #nav-bar button:focus, body.accessible-mode.content #list nav #nav-bar button:active, body.accessible-mode a:not(#logo):hover, body.accessible-mode a:not(#logo):focus, body.accessible-mode a:not(#logo):active, body.accessible-mode #menu button:hover, body.accessible-mode #menu button:focus, body.accessible-mode #menu button:active, body.accessible-mode #archives button:hover, body.accessible-mode #archives button:focus, body.accessible-mode #archives button:active, body.accessible-class #header-content nav #nav-bar button:hover, body.accessible-class #header-content nav #nav-bar button:focus, body.accessible-class #header-content nav #nav-bar button:active, body.accessible-class.content #list nav #nav-bar button:hover, body.accessible-class.content #list nav #nav-bar button:focus, body.accessible-class.content #list nav #nav-bar button:active, body.accessible-class a:not(#logo):hover, body.accessible-class a:not(#logo):focus, body.accessible-class a:not(#logo):active, body.accessible-class #menu button:hover, body.accessible-class #menu button:focus, body.accessible-class #menu button:active, body.accessible-class #archives button:hover, body.accessible-class #archives button:focus, body.accessible-class #archives button:active {
  background-color: white;
  color: blue;
}
body.accessible-mode header #header-content h1, body.accessible-class header #header-content h1 {
  border-color: white;
}
body.accessible-mode.content #content h3, body.accessible-mode hr, body.accessible-class.content #content h3, body.accessible-class hr {
  border-bottom: 2px solid white;
}
body.accessible-mode h2, body.accessible-class h2 {
  background-color: white;
  color: black;
}
body.accessible-mode #list a, body.accessible-class #list a {
  display: inline-block;
}
body.accessible-mode.communities #list img:first-of-type, body.accessible-class.communities #list img:first-of-type {
  background-color: white;
}
body.accessible-mode .cross:hover, body.accessible-class .cross:hover {
  background-color: white;
  color: blue;
}

/*# sourceMappingURL=stylesheet.css.map */
