body.about {
    #contact {
        margin: 150px 0 100px 0;
        p, a {
            font-family: 'VG5000';
        }
        p {
            font-size: 2.5rem;
            line-height: 1.5;
            margin: 0;
        }
    }
    #asso {
        h3, p, li {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        p {
            margin: 0 0 50px 0;
        }
        h3 {
            font-weight: bold;
            margin: 0 0 25px 0;
        }
        p {
            padding: 0;
            &:first-of-type {
                margin-top: 0;
            }
        }
        ul {
            margin: 0 0 50px 25px;
            li {
                display: list-item;
                list-style-type: square;
                margin-bottom: 0.25rem;
            }
        }
    }
    @media (max-width: 900px), (max-height: 900px) {
        #contact {
            margin: 100px 0 50px 0;
            p, a {
                font-size: 2rem;
            }
            p {
                line-height: 1.25;
            }
        }
        #asso {
            h3, p, li {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
    }
}
