body.communities {
    #list {
        .flex {
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            li {
                padding: 0;
                margin-top: 0;
            }
            li:first-of-type {
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 50px;
            }
            li:last-of-type {
                width: 80%;
            }
            &:not(:last-of-type) {
                padding-bottom: 100px;
            }
            &:last-of-type {
                padding-bottom: 50px;
            }
            .summary {
                margin-top: 25px;
                p {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
        }
        img {
            max-width: 100%;
        }
    }
    @media (max-width: 900px), (max-height: 900px) {
        #list {
            .flex {
                li:first-of-type {
                    margin-right: 25px;
                    margin-bottom: 25px;
                }
                &:not(:last-of-type) {
                    padding-bottom: 50px;
                }
                &:last-of-type {
                    padding-bottom: 25px;
                }
                #summary {
                    p {
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                    }
                }
            }
        }
    }
    @media (max-width: 767px) and (orientation: portrait) {
        #list {
            .flex {
                flex-direction: column;
                li, li:last-of-type, li:first-of-type {
                    width: 100%;
                }
                li:first-of-type {
                    align-items: flex-start;
                }
                img {
                    width: 50%;
                }
            }
        }
    }
}
