body.content {
    header, #pages-nav {
        display: none;
    }
    #page-nav {
        position: fixed;
        z-index: 996;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--test);
        width: 100%;
        height: 100px;
        left: 0;
        a {
            font-family: "Dauphine";
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: black;
        }
    }
    #list {
        margin-top: 0;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 995;
        background-color: var(--test);
        nav {
            position: fixed;
            right: 100px;
            // z-index: 1000;
            #nav-bar {
                margin: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: flex-start;
                button {
                    font-family: "Quebec Bold";
                    font-size: 2rem;
                    line-height: 1.5;
                    padding: 0 20px 17px 20px;
                    background-color: black;
                    color: white;
                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
        h1 {
            font-weight: normal;
            &:hover {
                background-color: transparent;
            }
        }
    }
    #content {
        text-align: center;
        margin: 0 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.margin-top {
            margin-top: 50px;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 50px 0 25px 0;
            font-size: 1.5rem;
            line-height: 2rem;
        }
        h3, h4, h5, h6 {
            font-family: 'Quebec';
            font-weight: normal;
        }
        h1, h2 {
            font-family: 'Quebec Bold';
        }
        h1 {
            text-transform: uppercase;
        }
        h2 {
            padding: 0;
            background-color: transparent;
            color: black;
            text-transform: none;
            display: block;
        }
        h3 {
            display: table;
            border-bottom: 2px solid black;
            padding-bottom: 6px;
            &.min-margin {
                margin-top: 25px;
            }
        }
        img, video, audio {
            max-width: 50%;
        }
        img {
            cursor: pointer;
        }
        img.portrait {
            max-width: 35%;
            &.fullscreen {
                width: auto;
                height: 100%;
            }
        }
        figure {
            width: 100%;
            padding: 0;
            margin: 50px 0 0 0;
            figcaption {
                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    margin-bottom: 0;
                }
            }
        }
        .text {
            width: 100%;
            padding: 0;
            text-align: left;
            &.margin-bottom {
                margin-bottom: 25px;
            }
            p {
                font-size: 1.5rem;
                line-height: 2rem;
                margin: 50px 0 0 0;
                &.rm-margin-top {
                    margin-top: 0
                }
                &:not(:last-of-type) {
                    margin-bottom: 50px;
                    @media (max-width: 900px), (max-height: 900px) {
                        margin-bottom: 25px;
                    }
                }
            }
            figure {
                p {
                    text-align: center;
                    margin-bottom: 0;
                }
            }
        }
        ul, blockquote, pre, code {
            margin-bottom: 50px;
        }
        ul {
            li {
                display: list-item;
                list-style-type: square;
                font-size: 1.5rem;
                line-height: 2rem;
                margin-left: 25px;
            }
        }
        blockquote {
            font-style: italic;
            font-size: 1rem;
            margin-right: 0;
            p {
                margin: 0;
            }
        }
        pre {
            font-family: monospace;
            font-size: 1.25rem;
        }
        code {
            background-color: white;
            font-family: monospace;
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
        sup, sub {
            font-size: 0.75rem;
            display: inline-block;
        }
        sup {
            vertical-align: text-top;
        }
        sub {
            vertical-align: text-bottom;
        }
    }

    @media (max-width: 900px), (max-height: 900px) {
        #page-nav {
            height: 50px;
            a {
                font-size: 1rem;
                line-height: 1rem;
            }
        }
        #list {
            position: relative;
            width: 100%;
            padding: 0;
            word-break: break-word;
            nav {
                right: 50px;
                #nav-bar {
                    button {
                        font-size: 1.25rem;
                        line-height: 1;
                        padding: 15px 10px 20px 10px;
                        &:first-of-type {
                            margin-right: 0px;
                        }
                    }
                }
            }
            h1 {
                margin-top: 100px;
                font-size: 2.5rem;
                line-height: 2.75rem;
                padding: 0;
            }
        }
        #content {
            margin: 0 0 100px 0;
            h1, h2, h3, h4, h5, h6 {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
            img, video, audio {
                max-width: 100%;
            }
            figure {
                margin-top: 25px;
            }
            img.portrait {
                max-width: 50%;
            }
            .text {
                p {
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    margin-top: 25px;
                }
                li {
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                }
                ul, blockquote, pre, code {
                    margin-bottom: 25px;
                }
                pre, code {
                    font-size: 1rem;
                }
                code{
                    line-height: 1.5rem;
                }
                sup, sub {
                    font-size: 0.75rem;
                }
            }
        }
    }
    @media (max-width: 767px) and (orientation: portrait) {
        #content {
            img.portrait {
                max-width: 100%;
            }
        }
    }
}
