:root {
    font-family: 'Quebec';
    font-size: 1rem;
    color: black;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
}
body {
    background-color: var(--test);
    overflow-x: hidden;
}
main {
    background-color: var(--test);
    padding: 100px;
}

// animate on page change
body.animate {
    .newDiv {
        width: 100%;
        height: 50px;
        position: fixed;
        background-color: white;
        z-index: 1000;
    }
}
body.animateTop {
    animation: animateTop 0.1s forwards ease;
    .top:not(.cross), #menu {
        animation: animateTop 0.1s forwards ease;
    }
    .bottom {
        animation : animateDown 0.1s forwards ease;
    }
    .newTopDiv {
        top: 0;
        margin-top: -50px;
        animation : animateTopDiv 0.1s forwards ease;
    }
}
body.animateRight {
    animation: animateRight 0.1s forwards ease;
    width: calc(100% - 50px);
    #pages-nav li.up, #pages-nav li.bottom {
        width: calc(100% - 50px);
    }
    main {
        animation: animateToLeft 0.1s forwards ease;
    }
    .right, header, #nav-bar {
        animation: animateRight 0.1s forwards ease;
    }
    .left {
        animation: animateToLeft 0.1s forwards ease;
    }
}
body.animateBottom {
    animation: animateBottom 0.1s forwards ease;
    height: calc(100% - 50px);
    .bottom {
        animation: animateBottom 0.1s forwards ease;
    }
    .top, main, #menu {
        animation: animateUp 0.1s forwards ease;
    }
    #pages-nav li.right, #pages-nav li.left {
        height: calc(100% - 50px);
    }
    .newBottomDiv {
        bottom: 0;
        margin-bottom: -50px;
        animation : animateBottomDiv 0.1s forwards ease;
    }
}
body.animateLeft {
    animation: animateLeft 0.1s forwards ease;
    .left {
        animation: animateLeft 0.1s forwards ease;
    }
    .right, #menu {
        animation: animateToRight 0.1s forwards ease;
    }
}

@keyframes animateTop {
  0% {
      margin-top: 0;
  }
  100% {
      margin-top: 50px;
  }
}
@keyframes animateRight {
  0% {
      margin-right: 0;
  }
  100% {
      margin-right: 50px;
  }
}
@keyframes animateBottom {
  0% {
      margin-bottom: 0;
  }
  100% {
      margin-bottom: 50px;
  }
}
@keyframes animateLeft {
  0% {
      margin-left: 0;
  }
  100% {
      margin-left: 50px;
  }
}

@keyframes animateUp {
  0% {
      margin-top: 0;
  }
  100% {
      margin-top: -50px;
  }
}
@keyframes animateToRight {
  0% {
      margin-right: 0;
  }
  100% {
      margin-right: -50px;
  }
}
@keyframes animateDown {
  0% {
      margin-bottom: 0;
  }
  100% {
      margin-bottom: -50px;
  }
}
@keyframes animateToLeft {
  0% {
      margin-left: 0;
  }
  100% {
      margin-left: -50px;
  }
}

@keyframes animateTopDiv {
  0% {
      margin-top: -50px;
  }
  100% {
      margin-top: 0;
  }
}
@keyframes animateBottomDiv {
  0% {
      margin-bottom: -50px;
  }
  100% {
      margin-bottom: 0;
  }
}

//corners
.square {
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 997;
    padding: 0;
    margin: 0;
}
#square1, #square2 {
    border-top: 15px solid black;
}
#square3, #square4 {
    border-bottom: 15px solid black;
}
#square1, #square3 {
    border-left: 15px solid black;
}
#square2, #square4 {
    border-right: 15px solid black;
}
#square2 {
    pointer-events: none;
}

// head scroller
header {
    width: calc(100% - 200px);
    padding: 100px 100px 0 100px;
    position: fixed;
    z-index: 995;
    #cache {
        width: calc(100% - 200px);
        position: fixed;
        z-index: -1;
        background-color: var(--test);
    }
    #header-content {
        display: flex;
        justify-content: space-between;
        h1, nav #nav-bar button {
            font-family: 'Quebec Bold';
            font-size: 2rem;
            // text-align: center;
            line-height: 1.5;
        }
        h1 {
            height: 100%;
            display: inline-block;
            padding: 0 20px 9px 20px;
            border: 4px solid black;
            word-break: break-word;
            overflow-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -o-hyphens: auto;
            hyphens: auto;
        }
        nav {
            #nav-bar {
                display: flex;
                flex-direction: row;
                button {
                    background-color: black;
                    color: white;
                    padding: 0 20px 17px 20px;
                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}


// items list
h2 {
    font-family: 'Quebec';
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 50px;
    padding: 10px;
}
mark {
    font-family: 'Quebec';
    color: black;
    background-color: yellow;
    padding: 0;
    line-height: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}
#list {
    margin: 150px 0 0 1px;
    .page-content {
        width: 75%;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 100px;
        &:last-of-type {
            padding-bottom: 0;
        }
        .item {
            font-family: 'VG5000';
            font-size: 3.5rem;
            // line-height: 3.5rem;
            display: inline-block;
            color: black;
            word-break: break-word;
            overflow-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -o-hyphens: auto;
            hyphens: auto;
        }
        div.type {
            // display: flex;
            span {
                font-size: 1rem;
            }
        }
        p {
            font-size: 2rem;
            line-height: 2.5rem;
            margin: 0;
            padding: 0;
        }
        .small {
            font-size: 1.5rem;
            display: inline-block;
            &:not(:last-of-type) {
                &::after {
                    content: ', ';
                }
            }
        }
        a.small {
            word-break: break-word;
            overflow-wrap: break-word;
        }
        #image-container {
            width: 100%;
            margin-top: 25px;
            img {
                max-width: 25%;
                // &.portrait {
                //     max-width: 10%;
                // }
            }
        }
        .summary {
            margin-top: 25px;
            h1, h2, h3, h4, h5, h6 {
                display: none;
            }
            p {
                font-size: 1.5rem;
                line-height: 2rem;
            }
            img {
                display: none;
            }
        }
    }
    li a:not(.item), .email {
        color: blue;
    }
}

#archives {
    &.extra-space {
        padding-bottom: 100px;
        @media (max-width: 900px), (max-height: 900px) {
            padding-bottom: 50px;
        }
    }
    button {
        display: inline-block;
        padding: 17px 20px;
        border: none;
        background-color: transparent;
        font-family: "Quebec Bold";
        font-size: 2rem;
        line-height: 1.5;
        background-color: black;
        color: white;
        &:hover, &:active, &:focus {
            background-color: white;
            color: black;
        }
    }
}

// menu (exploration mode)
#pages-nav {
    li {
        position: fixed;
        z-index: 996;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--test);
    }
    li:first-of-type, li:last-of-type {
        width: 100%;
        height: 100px;
    }
    & > ul > li:nth-of-type(2), & > ul > li:nth-of-type(3) {
        width: 100px;
        height: 100%;
    }
    & > ul > li:nth-of-type(2) a {
        transform: rotate(-90deg);
    }
    & > ul > li:nth-of-type(3) a {
        transform: rotate(90deg);
    }
    a {
        font-family: "Dauphine";
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: black;
        text-align: center;
    }
}

// menu (accessible mode)
#menu {
    background-color: black;
    color: white;
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    #menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 100%;
    }
    li, button:not(.cross) {
        font-family: "Quebec Bold";
    }
    li, button:not(.cross) {
        font-size: 1.75rem;
        // line-height: 3rem;
    }
    #logo {
        display: flex;
        align-items: center;
        width: 13vh;
            img {
                width: 100%;
                height: 100%;
            }
        }

    a, button {
        color: white;
        display: block;
        &:hover, &:focus, &:active {
            color: black;
        }
    }

    ul.lang {
        display: flex;
        justify-content: center;
        align-items: center;
        li:first-of-type {
            display: flex;
            align-items: center;
            &::after {
                content: '/';
                margin: 0 1rem;
            }
        }
    }

    button {
        background-color: transparent;
    }
}

// map
#map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: black;
    ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, calc(100% / 3));
        grid-auto-flow: row;
        justify-content: center;
    }
    div {
        position: relative;
    }
    div div {
        width: 100%;
        height: 100%;
    }
    div::before, div::after, div div::before, div div::after {
        content: "";
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
    }
    div::before, div div::before {
        margin-bottom: -32px;
    }
    div::after, div div::after {
        margin-top: -32px;
    }
    div div::before, div div::after {
        left: calc(100% - 32px);
    }
    div::before {
        border-left: 2px solid var(--test);
        border-top: 2px solid var(--test);
    }
    div div::before {
        border-left: none;
        border-right: 2px solid var(--test);
        border-top: 2px solid var(--test);
    }
    div::after {
        border-left: 2px solid var(--test);
        border-bottom: 2px solid var(--test);
    }
    div div::after {
        border-left: none;
        border-right: 2px solid var(--test);
        border-bottom: 2px solid var(--test);
    }
    a, button:not(.cross) {
        text-align: center;
        display: block;
        color: white;
        font-family: 'Quebec Bold';
        font-size: 2rem;
        width: 100%;
        height: 100%;
        line-height: calc(100vh / 3);
        &:hover {
            color: black;
            background-color: var(--test);
        }
        &:focus {
            color: white;
            background-color: black;
        }
    }
}

// global
.cross {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px 20px 20px;
    font-size: 30px !important;
    font-weight: 700;
    line-height: 1 !important;
    color: white;
    background-color: transparent;
    z-index: 999;
    &:hover {
        background-color: white;
        color: black;
    }
}

.hide {
    display: none !important;
}
.top {
    top: 0;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.bottom {
    bottom: 0;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
}

// MEDIAQUERIES

// tablet landscape

@media (max-width: 1280px) and (orientation: landscape) {
    #menu {
        width: 25%;
    }
}

@media (max-width: 900px), (max-height: 900px) {
    main {
        padding: 50px;
    }
    .square {
        width: 100px;
        height: 100px;
    }
    #square1, #square2 {
        border-top: 10px solid black;
    }
    #square3, #square4 {
        border-bottom: 10px solid black;
    }
    #square1, #square3 {
        border-left: 10px solid black;
    }
    #square2, #square4 {
        border-right: 10px solid black;
    }
    header {
        width: calc(100% - 100px);
        padding: 50px 50px 0 50px;
        #header-content {
            h1, nav #nav-bar button {
                font-size: 1.25rem;
                line-height: 1;
            }
            h1 {
                padding: 11px 10px 16px 10px;
            }
            nav {
                #nav-bar {
                    button {
                        padding: 15px 10px 20px 10px;
                        &:first-of-type {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
    #pages-nav {
        li:first-of-type, li:last-of-type {
            height: 50px;
        }
        & > ul > li:nth-of-type(2), & > ul > li:nth-of-type(3) {
            width: 50px;
        }
        a {
            font-size: 1rem;
            line-height: 1rem;
        }
    }
    h2 {
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 25px;
    }
    #list {
        margin-top: 100px;
        .page-content {
            width: 100%;
        }
        li {
            padding-bottom: 50px;
            .item {
                font-size: 2.5rem;
                line-height: 2.75rem;
            }
            a, p {
                line-height: 2rem;
            }
            a {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
            }
            .small {
                font-size: 1rem;
                line-height: 1.5rem;
            }
            .summary {
                p, a {
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                }
            }
        }
    }
    #archives {
        button {
            font-size: 1.25rem;
        }
    }
}


// menu sizing according to screen height
// portrait
@media (max-height: 900px) and (orientation: portrait) {
    #menu {
        div, a, button:not(.cross) {
            font-size: 1.5rem;
        }
    }
}
@media (max-height: 700px) and (orientation: portrait) {
    #menu {
        div, a, button:not(.cross) {
            font-size: 1.25rem;
        }
    }
}
@media (max-height: 600px) and (orientation: portrait) {
    #menu {
        div, a, button:not(.cross) {
            font-size: 1rem;
        }
    }
}
// landscape
@media (max-height: 900px) and (orientation: landscape) {
    #menu {
        div, a, button:not(.cross) {
            font-size: 1.5rem;
        }
    }
}
@media (max-height: 700px) and (orientation: landscape) {
    #menu {
        div, a, button:not(.cross) {
            font-size: 1.25rem;
        }
    }
}
@media (max-height: 600px) and (orientation: landscape) {
    #menu {
        div, a, button:not(.cross) {
            font-size: 1rem;
        }
    }
}
// both
@media (max-height: 500px) {
    #menu {
        overflow-y: auto;
        #menu-container {
            justify-content: flex-start;
            margin-top: 25px;
            & > ul:first-of-type {
                margin: 25px 0;
            }
            & > ul:last-of-type {
                margin-top: 25px;
                padding-bottom: 25px;
            }
        }
        #logo {
            width: 75px;
        }
    }
}

// items
@media (max-width: 767px), (max-height: 767px) {
    #list li .item {
        font-size: 2rem;
        line-height: 2rem;
    }
}

// phone portrait
@media (max-width: 767px) and (orientation: portrait) {
    #list li {
        #image-container {
            text-align: center;
            img {
                max-width: 100%;
                &.portrait {
                    max-width: 100%;
                }
            }
        }
    }
    #menu {
        width: 100%;
    }
    #map a:not(.cross) {
        font-size: 1.5rem;
    }
}

// tablet portrait
@media (min-width: 768px) and (max-width: 1000px) {
    #menu {
        width: 35%;
    }
}
