body.home {

    #list > div:first-of-type > p {
        font-size: 2rem;
        line-height: 2.75rem;
    }

    #list > div:first-of-type, #list ul:not(:last-of-type) {
        padding-bottom: 100px;
    }

    #list > div:first-of-type p:last-of-type {
        margin: 0;
    }

    @media (max-width: 900px), (max-height: 900px) {

        #list > div:first-of-type p {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        #list > div:first-of-type, #list ul:not(:last-of-type) {
            padding-bottom: 50px;
        }
    }

    @media (max-width: 767px), (max-height: 767px) {
        #list > div:first-of-type p {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
    }

}
