body.legals {
    #container {
        margin-top: 175px;
        h2 {
            line-height: 1.75rem;
        }
        h2:not(:first-of-type) {
            margin: 50px 0 0 0;
        }
        h2:first-of-type {
            margin-bottom: 0;
        }
        p {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    @media (max-width: 900px), (max-height: 900px) {
        #container {
            margin-top: 125px;
            p {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
    }
}
