body.resources {
     #list {
         ul:not(:last-of-type), li {
             padding-bottom: 50px;
         }
     }

     @media (max-width: 900px), (max-height: 900px) {
         #list {
             li {
                 padding-bottom: 25px;
             }
         }
     }
}
