body.services {
    #list, .section {
        margin-bottom: 100px;
        @media (max-width: 900px), (max-height: 900px) {
            margin-bottom: 50px;
        }
    }
    .section, #infos {
        p {
            font-size: 1.5rem;
            line-height: 2rem;
            &:first-of-type {
                margin-top: 0;
            }
        }
        ul {
            li {
                display: list-item;
                list-style-type: square;
                font-size: 1.5rem;
                margin-left: 25px;
            }
        }
        @media (max-width: 900px), (max-height: 900px) {
            p, ul li {                
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
    }

    .section {
        p {
            margin-bottom: 0;
        }
    }
}
