body.tree {
    #container {
        margin-top: 175px;
        a {
            font-family: 'VG5000';
            font-size: 2rem;
            line-height: 3rem;
            color: blue;
        }
    }
    @media (max-width: 900px), (max-height: 900px) {
        #container {
            margin-top: 125px;
        }
    }
}
