@import 'base/vars';
@import 'base/reset';
@import 'content';
@import 'default';
@import 'home';
@import 'resources';
@import 'about';
@import 'communities';
@import 'services';
@import 'tree';
@import 'legals';


@import 'base/fonts';


#error {
    margin-top: 100px;
    line-height: 1;
    p {
        font-size: 1.5rem;
        line-height: 2rem;
        @media (max-width: 900px), (max-height: 900px) {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}

body.accessible-mode, body.accessible-class {
    background-color: black;
    #pages-nav li:not(:first-of-type), #pages-nav li:first-of-type a, .square, #map, .map-toggler, #list li #image-container {
        display: none;
    }
    main, header #header-content, #pages-nav li:first-of-type, #list, #page-nav {
        background-color: black;
    }
    #header-content h1, &.content #list h1, p, #list li .item, #list li div.type span, &.content #content ul li, &.about #asso ul li, &.content #content h1, &.content #content h2, &.content #content h3, &.content #content h4, &.content #content h5, &.content #content h6, &.services .section ul li {
        color: white;
    }
    p {
        line-height: 2.5rem;
    }
    #menu {
        background-color: blue;
    }
    #header-content nav #nav-bar button, &.content #list nav #nav-bar button, a:not(#logo), #menu button, #archives button {
        background-color: blue;
        color: white;
        &:hover, &:focus, &:active {
            background-color: white;
            color: blue;
        }
    }
    header #header-content h1 {
        border-color: white;
    }
    &.content #content h3, hr {
        border-bottom: 2px solid white;
    }
    h2 {
        background-color: white;
        color: black;
    }
    #list a {
        display: inline-block;
    }
    &.communities #list img:first-of-type {
        background-color: white;
    }
    .cross {
        &:hover {
            background-color: white;
            color: blue;
        }
    }
}
