<li class="{% if item.slug == 'stammtisch' %} stammtisch {% endif %}">
    <a href="{{ item.url }}" class="item">{{ item.title }}</a>
    {% if item.header.type or item.header.public %}<div class="type">{% if item.header.type %}<span><mark>{{ item.header.type }}</mark></span>{% endif %}{% if item.header.public %}<span>{{ item.header.public }}</span>{% endif %}</div>{% endif %}
    {% if item.header.date %}
        {% if item.slug == 'stammtisch' %}
            {% if date('now')|date('D') == "Fri" %}
            <p><time datetime="{{ date('now')|date('c') }}">
            {{ [date('now')|date('d'), 'MONTHS'|ta(date('now')|date('n') -1), date('now')|date('Y'), item.date|date('H:i') ]|join(' ') }}
            </time></p>
            {% elseif date('now')|date('D') == "Mon"%}
            <p><time datetime="{{ date('now')|date_modify("+4 days")|date('c') }}">
            {{ [date('now')|date_modify("+4 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+4 days")|date('n') -1), date('now')|date_modify("+4 days")|date('Y'), item.date|date('H:i')]|join(' ') }}
            </time></p>
            {% elseif date('now')|date('D') == "Tue"%}
            <p><time datetime="{{ date('now')|date_modify("+3 days")|date('c') }}">
            {{ [date('now')|date_modify("+3 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+3 days")|date('n') -1), date('now')|date_modify("+3 days")|date('Y'), item.date|date('H:i')]|join(' ') }}
            </time></p>
            {% elseif date('now')|date('D') == "Wed"%}
            <p><time datetime="{{ date('now')|date_modify("+2 days")|date('c') }}">
            {{ [date('now')|date_modify("+2 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+2 days")|date('n') -1), date('now')|date_modify("+2 days")|date('Y'), item.date|date('H:i')]|join(' ') }}
            </time></p>
            {% elseif date('now')|date('D') == "Thu"%}
            <p><time datetime="{{ date('now')|date_modify("+1 days")|date('c') }}">
            {{ [date('now')|date_modify("+1 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+1 days")|date('n') -1), date('now')|date_modify("+1 days")|date('Y'), item.date|date('H:i')]|join(' ') }}
            </time></p>
            {% elseif date('now')|date('D') == "Sat"%}
            <p><time datetime="{{ date('now')|date_modify("+6 days")|date('c') }}">
            {{ [date('now')|date_modify("+6 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+6 days")|date('n') -1), date('now')|date_modify("+6 days")|date('Y'), item.date|date('H:i')]|join(' ') }}
            </time></p>
            {% elseif date('now')|date('D') == "Sun"%}
            <p><time datetime="{{ date('now')|date_modify("+5 days")|date('c') }}">
            {{ [date('now')|date_modify("+5 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+5 days")|date('n') -1), date('now')|date_modify("+5 days")|date('Y'), item.date|date('H:i')]|join(' ') }}
            </time></p>
            {% endif %}
        {% else %}
        <p><time datetime="{{ item.date|date('c') }}">
        {{ [item.date|date('d'), 'MONTHS'|ta(item.date|date('n') -1), item.date|date('Y'), item.date|date('H:i')]|join(' ') }}
        </time></p>
        {% endif %}
    {% endif %}
    {% if item.header.place %}<p>{{ item.header.place }}</p>{% endif %}
    {% if item.header.organisers %}
    <div>
        {% for organiser in item.header.organisers %}
            <p class="small">{{ organiser.name }}</p>
        {% endfor %}
    </div>
    {% if item.header.email %}<p class="small email">{{ item.header.email }}</p>{% endif %}
    {% endif %}
    {% if item.header.link %}
        {% for info in item.header.link %}
            <a class="small" href="{{ info.url }}" target="_blank">{{ info.name }}</a>
        {% endfor %}
    {% endif %}
    {% if item.media.images %}
        <div id="image-container">
            {% if item.media.images|first.height >= item.media.images|first.width %}
                {{ item.media.images|first.html('', '', 'portrait') }}
            {% else %}
                {{ item.media.images|first.html('', '') }}
            {% endif %}
        </div>
    {% endif %}
    {% if item.content %}
        <div class="summary">
            {{ item.summary(200) }}
        </div>
    {% elseif item.header.content %}
    <div class="summary">
        {% set break = false %}
        {% for elem in item.header.content if not break %}
        {% if elem.text %}
        {{ elem.text|markdown|truncate_html(200)  }}
        {% set break = true %}
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</li>
