ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}
a {
    color: blue;
    text-decoration: none;
}
a:not(#logo), #menu button {
    &:hover, &:focus, &:active {
        background-color: white;
    }
}

hr {
    margin: 0 0 100px 0;
    border-bottom: 2px solid black;
    @media (max-width: 900px), (max-height: 900px) {
        margin: 0 0 50px 0;
    }
}
