{% extends 'default.html.twig' %}
{% set color = page.header.currentColor %}

{% block content %}
    <div id="contact">
        <h2>Contact</h2>
        {{ page.header.contact }}
    </div>
    <div id="asso">
        <h2>Association</h2>
        {{ page.content }}
    </div>
{% endblock %}
