{% extends 'default.html.twig' %}
{% set color = page.header.currentColor %}

{% block content %}
    <div id="list">
        <ul>
            {% block list %}
                {% for item in page.collection %}
                    <div class="flex">
                        <li>
                            {% for image in item.media.images %}
                                {{ image.html('', "COMMUNITY_ALT"|t ~ item.title, '') }}
                            {% endfor %}
                        </li>
                        <li>
                            <a href="{{ item.url }}" class="item">{{ item.title }}</a>
                            <p>{{ item.header.place }}</p>
                            {% for info in item.header.link %}
                                <a class="small" href="{{ info.url }}" target="_blank">{{ info.name }}</a>
                            {% endfor %}
                            {% if item.content %}
                            <div id="summary">
                                {{ item.summary(200) }}
                            </div>
                            {% endif %}
                        </li>
                    </div>
                {% endfor %}
            {% endblock %}
        </ul>
    </div>
{% endblock %}
