{% extends 'partials/base.html.twig' %}

{% block page %}
<main>
    <div id="square1" class="square top left">
    </div>
    <div id="square2" class="square top right">
    </div>
    <div id="square3" class="square bottom left">
    </div>
    <div id="square4" class="square bottom right">
    </div>
    <header class="top left">
        <div id="cache"></div>
        <div id="header-content">
            <h1>{{ page.title }}</h1>
            <nav>
                <div id="nav-bar">
                    <button type="button" class="menu-toggler" aria-expanded="false">Menu</button>
                    <button type="button" class="map-toggler" aria-hidden="true" tabindex="-1">Map</button>
                </div>
            </nav>
        </div>
    </header>
{% block content %}
{% endblock %}
</main>
<nav id="pages-nav" aria-hidden="true">
    <ul>
        {% set mainPages = taxonomy.findTaxonomy({ 'pagetype' : 'main' }).order('folder' , 'asc') %}
        {% set currentIndex = mainPages.currentPosition(page.path) %}
        {% set x = currentIndex % 3 %}
        {% set y = (currentIndex / 3)|round(0, 'floor') %}
        <li class="top up">
            {% set previousPage = y == 0 ? mainPages.nth(currentIndex + 6) : mainPages.nth(currentIndex - 3) %}
            <a href="{{ previousPage.url }}" tabindex="-1">{{ previousPage.title }}</a>
        </li>
        <li class=" top left">
            {% set previousPage = x == 0 ? mainPages.nth(currentIndex + 2) : mainPages.nth(currentIndex - 1) %}
            <a href="{{ previousPage.url }}" tabindex="-1">{{ previousPage.title }}</a>
        </li>
        <li class="top right">
            {% set nextPage = x == 2 ? mainPages.nth(currentIndex - 2) : mainPages.nth(currentIndex + 1) %}
            <a href="{{ nextPage.url }}" tabindex="-1">{{ nextPage.title }}</a>
        </li>
        <li class="bottom">
            {% set nextPage = y == 2 ? mainPages.nth(currentIndex - 6) : mainPages.nth(currentIndex + 3) %}
            <a href="{{ nextPage.url }}" tabindex="-1">{{ nextPage.title }}</a>
        </li>
    </ul>
</nav>
<div id="menu" class="hide">
    <div id="menu-container">
        <div id="logo" href="/home" aria-label="{{ "MENU.HOME"|t }}">
            <img src="{{ url('theme://images/logo.svg') }}" alt="{{ "MENU.LOGO"|t }}"/>
        </div>
        <ul>
            <li>
                <button type="button" id="accessible-button">{{ "ACCESSIBLE"|t }}</button>
            </li>
            <ul class="lang">
                {% for lang in grav.language.getLanguages() %}
                <li>
                    <a href="{{ '/' ~ 'home' ~ '/' ~ lang ~ page.route }}" class="lang" aria-label="{% if lang == 'fr' %}Afficher la page en français{% else %}Display page in english{% endif %}">{{ lang|upper }}</a>
                </li>
                {% endfor %}
            </ul>
        </ul>
        <ul>
            <li>
                {% for page in taxonomy.findTaxonomy({ 'pagetype' : 'main' }).order('folder' , 'asc') %}
                <a href="{{ page.url }}">{{ page.title }}</a>
                {% endfor %}
            </li>
        </ul>
        <ul>
            {% for page in taxonomy.findTaxonomy({ 'pagetype' : 'aside' }).order('folder' , 'asc') %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <button type="button" class="cross top right" aria-label="Fermer le Menu" tabindex="0">✕</button>
    </div>
</div>
<div id="map" class="hide">
    <ul>
        {% for page in taxonomy.findTaxonomy({ 'pagetype' : 'main' }).order('folder' , 'asc') %}
        <li>
            <div>
                <div>
                    <a class="move" href="{{ page.url }}">{{ page.title }}</a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <button type="button" class="cross top right" tabindex="0">✕</button>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
