{% extends 'default.html.twig' %}
{% set color = page.header.currentColor %}

{% block content %}
<div id="list">
    <div>
        {{ page.header.asso|markdown }}
    </div>

    <h2>News</h2>
    <ul>
        {% set break = false %}
        {% for child in page.find('/blog').collection if not child.header.frontpage and not break %}
            {% include 'partials/item.html.twig' with { item: child } %}
            {% set break = true %}
        {% endfor %}
    </ul>

    <h2>{{ "UPCOMING"|t }}</h2>
    <ul>
    {% for item in page.find('/schedule').collection.order('date','asc') %}
        {% if item.date > "now"|date('U') and item.date < "now"|date_modify("+28 days")|date('U') %}
            {% include 'partials/item.html.twig' with { item: item } %}
        {% endif %}
    {% endfor %}

    {% include 'partials/item.html.twig' with { item: page.find('/schedule/stammtisch') } %}
    </ul>

    <h2>Edito</h2>
    <ul>
        {% set break = false %}
        {% for article in page.find('/blog').collection if article.header.frontpage and not break %}
            {% include 'partials/item.html.twig' with { item: article } %}
            {% set break = true %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
