{% extends 'default.html.twig' %}
{% set color = page.header.currentColor %}
{% block content %}
    <div id="list">
        <ul>
        {% block list %}
        {% if page.slug == 'schedule' %}
        {% include 'partials/item.html.twig' with { item: page.find('/schedule/stammtisch') } %}
        <hr>
        {% endif %}
        {% for item in page.collection.order('date', 'asc') %}
            {% if item.slug != 'stammtisch' and item.date > "now"|date('U') %}
                {% include 'partials/item.html.twig' with { item: item } %}
            {% endif %}
        {% endfor %}
        {% if page.slug == 'schedule' %}
        <div id="archives">
            <button type="button">{{ "ARCHIVES"|t }}</button>
        </div>
        {% endif %}
        {% for item in page.collection %}
            {% if item.slug != 'stammtisch' and item.date < "now"|date('U') %}
                {% include 'partials/item.html.twig' with { item: item } %}
            {% endif %}
        {% endfor %}
        {% endblock %}
        </ul>
    </div>
{% endblock %}
