{% extends 'list.html.twig' %}

{% block list %}
{% if page.slug == 'wanted' %}
<div id="intro">
    {{ page.content }}
</div>
{% endif %}
{% for collectionName in page.header.list %}
    {% if page.collection(collectionName)|length %}
        <h2>{{ collectionName|upper|t }}</h2>
        {% for item in page.collection(collectionName) %}
            {% include 'partials/item.html.twig' with { item: item } %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% endblock %}
