{% extends 'default.html.twig' %}
{% set color = page.parent.header.currentColor %}
{% block content %}
    <div id="list" class="top left">
        <nav>
            <div id="nav-bar">
                <button type="button" class="menu-toggler" aria-expanded="false">Menu</button>
                <button type="button" class="map-toggler" aria-hidden="true" tabindex="-1">Map</button>
            </div>
        </nav>
        <ul class="page-content">
            <li>
                <h1 class="item" tabindex="0">{{ page.title }}</h1>
                {% if item.header.type or item.header.public %}<div class="type">{% if page.header.type %}<span><mark>{{ page.header.type }}</mark></span>{% endif %}{% if page.header.public %}<span>{{ page.header.public }}</span>{% endif %}</div>{% endif %}
                {% if page.header.date %}
                    {% if page.slug == 'stammtisch' %}
                        {% if date('now')|date('D') == "Fri" %}
                        <p><time datetime="{{ date('now')|date('c') }}">
                        {{ [date('now')|date('d'), 'MONTHS'|ta(date('now')|date('n') -1), date('now')|date('Y'), page.date|date('H:i') ]|join(' ') }}
                        </time></p>
                        {% elseif date('now')|date('D') == "Mon"%}
                        <p><time datetime="{{ date('now')|date_modify("+4 days")|date('c') }}">
                        {{ [date('now')|date_modify("+4 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+4 days")|date('n') -1), date('now')|date_modify("+4 days")|date('Y'), page.date|date('H:i')]|join(' ') }}
                        </time></p>
                        {% elseif date('now')|date('D') == "Tue"%}
                        <p><time datetime="{{ date('now')|date_modify("+3 days")|date('c') }}">
                        {{ [date('now')|date_modify("+3 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+3 days")|date('n') -1), date('now')|date_modify("+3 days")|date('Y'), page.date|date('H:i')]|join(' ') }}
                        </time></p>
                        {% elseif date('now')|date('D') == "Wed"%}
                        <p><time datetime="{{ date('now')|date_modify("+2 days")|date('c') }}">
                        {{ [date('now')|date_modify("+2 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+2 days")|date('n') -1), date('now')|date_modify("+2 days")|date('Y'), page.date|date('H:i')]|join(' ') }}
                        </time></p>
                        {% elseif date('now')|date('D') == "Thu"%}
                        <p><time datetime="{{ date('now')|date_modify("+1 days")|date('c') }}">
                        {{ [date('now')|date_modify("+1 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+1 days")|date('n') -1), date('now')|date_modify("+1 days")|date('Y'), page.date|date('H:i')]|join(' ') }}
                        </time></p>
                        {% elseif date('now')|date('D') == "Sat"%}
                        <p><time datetime="{{ date('now')|date_modify("+6 days")|date('c') }}">
                        {{ [date('now')|date_modify("+6 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+6 days")|date('n') -1), date('now')|date_modify("+6 days")|date('Y'), page.date|date('H:i')]|join(' ') }}
                        </time></p>
                        {% elseif date('now')|date('D') == "Sun"%}
                        <p><time datetime="{{ date('now')|date_modify("+5 days")|date('c') }}">
                        {{ [date('now')|date_modify("+5 days")|date('d'), 'MONTHS'|ta(date('now')|date_modify("+5 days")|date('n') -1), date('now')|date_modify("+5 days")|date('Y'), page.date|date('H:i')]|join(' ') }}
                        </time></p>
                        {% endif %}
                    {% else %}
                    <p><time datetime="{{ page.date|date('c') }}">
                    {{ [page.date|date('d'), 'MONTHS'|ta(page.date|date('n') -1), page.date|date('Y'), page.date|date('H:i')]|join(' ') }}
                    </time></p>
                    {% endif %}
                {% endif %}
                {% if page.header.place %}<p>{{ page.header.place }}</p>{% endif %}
                {% if page.header.organisers %}
                    <div>
                    {% for organiser in page.header.organisers %}
                        <p class="small">{{ organiser.name }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
                {% if page.header.email %}<p class="small email">{{ page.header.email }}</p>{% endif %}
                {% if page.header.link %}
                    {% for info in page.header.link %}
                        <a class="small" href="{{ info.url }}" target="_blank">{{ info.name }}</a>
                    {% endfor %}
                {% endif %}
            </li>
        </ul>
    </div>
    <div id="content">
        {% for item in page.header.content %}
            {% if item.media %}
            <figure>
                {% set mediaType = page.media[item.media].items.type %}
                {% if mediaType == 'image' or mediaType== 'animated' %}
                    {% if page.media[item.media].height >= page.media[item.media].width %}
                        {{ page.media[item.media].html('', '', 'portrait') }}
                        {% else %}
                        {{ page.media[item.media].html('', '') }}
                    {% endif %}
                {% else %}
                {% if mediaType == 'video' or mediaType == 'audio' %}
                    {{ page.media[item.media].controls(1) }}
                {% endif %}
                {% endif %}
            {% endif %}
            {% if item.caption %}
                <figcaption>{{ item.caption|markdown }}</figcaption>
            {% endif %}
            </figure>
            {% if item.text %}
                <div class="text">{{ item.text|markdown }}</div>
            {% endif %}
        {% endfor %}
        {% if page.content %}<div class="text">{{ page.content }}</div>{% endif %}
    </div>
    <nav id="page-nav" class="bottom">
        <a href="{{ '/' ~ 'home' ~ '/' ~ page.language ~ '/' ~ page.parent.slug }}">Retour</a>
    </nav>
{% endblock %}
