{% extends 'default.html.twig' %}
{% set color = page.header.currentColor %}
{% block content %}
    {% block list %}
        <div id="list">
            <h2>{{ "TOOLS"|upper|t }}</h2>
            <ul>
                {% for tool in page.header.tools %}
                    <li>
                        <a href="{{ tool.url }}" target="_blank" class="item">{{ tool.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <h2>{{ "SOFTWARES"|upper|t }}</h2>
            <ul>
            {% for software in page.header.softwares %}
                <li>
                    <a href="{{ software.url }}" target="_blank" class="item">{{ software.name }}</a>
                </li>
            {% endfor %}
            </ul>
            <h2>{{ "WEBSITES"|upper|t }}</h2>
            <ul>
                {% for website in page.header.websites %}
                    <li>
                        <a href="{{ website.url }}" target="_blank" class="item">{{ website.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <h2>{{ "BOOKS"|upper|t }}</h2>
            <ul>
            {% for book in page.header.books %}
                <li>
                    <p class="item">{{ book.name }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endblock %}
{% endblock %}
