{% extends 'default.html.twig' %}
{% set color = page.header.currentColor %}
{% block content %}

    <div id="list">
        <h2>Formats</h2>
        <ul>
        {% block list %}
            {% for item in page.collection %}
                {% include 'partials/item.html.twig' with { item: item } %}
            {% endfor %}
        {% endblock %}
        </ul>
    </div>

    <div id="training" class="section">
        <h2>{{ "TRAINING"|t }}</h2>
        {{ page.header.training|markdown }}
    </div>

    <div id="support" class="section">
        <h2>{{ "SUPPORT"|t }}</h2>
        {{ page.header.support|markdown }}
    </div>

    <div id="events" class="section">
        <h2>{{ "EVENTS"|t }}</h2>
        {{ page.header.events|markdown }}
    </div>

    <div id="infos">
        <h2>{{ "INFOS"|t }}</h2>
        {{ page.header.infos|markdown }}
    </div>

{% endblock %}
