{% extends 'default.html.twig' %}
{% set color = page.header.currentColor %}

{% block content %}
    <div id="container">
        <ul>
            {% for page in pages.children.visible %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
